.quadro-principal{
    background-color: rgba(181, 204, 241, 0.397);
    border-style: solid;
    border-color: black;
    width: 50%;
    height: 200%;
    margin: 3%;

}

.user{
    border-bottom-style: solid;
    border-color: black;
    height: 1.5em;
    font-weight: bolder;
    background-color: rgba(82, 141, 192, 0.445);
}

.identifica-usuario{
    font-weight: bolder;
    margin: 3%;
}

p{
    background-color: rgba(255, 255, 255, 0.445);
    margin: 3%;
}

/* outra parte */

.offline {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    margin: 50px;
}

.online {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(36, 179, 72);
    b
}

